.element {
    display: flex;
    padding: 10px;
    border: 1px solid transparent;
    background: #ffffff20;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease-out;
}

.element:hover {
    border-color: #42A0E4;
}

.checkbox {
    appearance: none;
    background: #000;
}