.list {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    background: #EDEDED;
}

.list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem .8rem;
    background: #3299CD;
    color: white;
    border-bottom: 2px solid #2a82b0;
}

.list__showBtn {
    opacity: 75%;
    cursor: pointer;
    transition: .3s ease-out;
}

.list__showBtn:hover {
    opacity: 100%;
}

.list__showBtn.rotate {
    transform: rotate(180deg);
}