@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

::selection {
    background: #f5d6ff;
    color: #7B61F3;
}

.main {
    font-size: 1.6rem;
    font-family: 'Fredoka', sans-serif;
    background: #261862;
    width: 260px;
    border-radius: 1rem;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem;
    background: #AA60EF linear-gradient(to right, #A55DEF, #3E24D4);
    border-radius: 1rem;
    color: white;
}

.listContainer {
    padding: 1rem 2rem;
}

.listContainer>ul {
    margin: 0;
    padding: .4rem;
}

ul {
    list-style: none;
}

input[type="checkbox"] {
    margin-right: .6rem;
}

label {
    cursor: pointer;
}
